html, body {
  margin: 20px;
  color: #333333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857;
}

#container {
  width: 600px;
}

label {
  font-weight: bold;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}
