<h2>Static multiselect</h2>
{{multiselect-panels content=myList label="Movies" selected=favouriteMovies sortProperty="name"}}

<div>
  <strong>Favourite Movies</strong>
  <ul>
  {{#each favouriteMovies}}
    <li>{{name}}</li>
  {{/each}}
  </ul>
</div>

<h2>Promise multiselect</h2>
{{multiselect-panels content=myPromiseList label="Characters" selected=favouriteCharacters sortProperty="name"}}

<div>
  <strong>Favourite Characters</strong>
  <ul>
  {{#each favouriteCharacters}}
    <li>{{name}}</li>
  {{/each}}
  </ul>
</div>
